# Proceso de extracción, transformación y limpieza de los datasets 'homicidios' y 'víctimas'

Para comenzar, se importan las librerias necesarias.

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from datetime import datetime
import re

## Se trabaja inicialmente con el dataset 'homicidios'

In [5]:
homicidios='homicidios.xlsx - HECHOS.csv'
df_homicidios=pd.read_csv(homicidios, delimiter=',', encoding='UTF-8')
print(df_homicidios)

            ID  N_VICTIMAS       FECHA  AAAA  MM  DD      HORA  HH  \
0    2016-0001           1    1/1/2016  2016   1   1   4:00:00   4
1    2016-0002           1    1/2/2016  2016   1   2   1:15:00   1
2    2016-0003           1    1/3/2016  2016   1   3   7:00:00   7
3    2016-0004           1   1/10/2016  2016   1  10   0:00:00   0
4    2016-0005           1   1/21/2016  2016   1  21   5:20:00   5
..         ...         ...         ...   ...  ..  ..       ...  ..
691  2021-0093           1  12/13/2021  2021  12  13  17:10:00  17
692  2021-0094           1  12/20/2021  2021  12  20   1:10:00   1
693  2021-0095           1  12/30/2021  2021  12  30   0:43:00   0
694  2021-0096           1  12/15/2021  2021  12  15  10:30:00  10
695  2021-0097           1  11/18/2021  2021  11  18   6:10:00   6

                               LUGAR_DEL_HECHO TIPO_DE_CALLE  ...  Altura  \
0    AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ       AVENIDA  ...     NaN
1            AV GRAL PAZ  Y AV DE LOS CORRALES      GRAL PAZ  ...     NaN
2                           AV ENTRE RIOS 2034       AVENIDA  ...  2034.0
3        AV LARRAZABAL Y GRAL VILLEGAS CONRADO       AVENIDA  ...     NaN
4    AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA        AVENIDA  ...     NaN
..                                         ...           ...  ...     ...
691                          AV. RIESTRA Y MOM       AVENIDA  ...     NaN
692                    AU DELLEPIANE Y LACARRA     AUTOPISTA  ...     NaN
693                        AV. GAONA Y TERRADA       AVENIDA  ...     NaN
694                         AV. EVA PERON 4071       AVENIDA  ...  4071.0
695                    PADRE CARLOS MUJICA 709         CALLE  ...   709.0

                                   Cruce  \
0    FERNANDEZ DE LA CRUZ, F., GRAL. AV.
1                    DE LOS CORRALES AV.
2                                    NaN
3               VILLEGAS, CONRADO, GRAL.
4                SAENZ PE?A, LUIS, PRES.
..                                   ...
691                                  MOM
692                          LACARRA AV.
693                              TERRADA
694                                  NaN
695                                  NaN

                                 Dirección Normalizada COMUNA  \
0    PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...      8
1                 PAZ, GRAL. AV. y DE LOS CORRALES AV.      9
2                                  ENTRE RIOS AV. 2034      1
3            LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.      8
4              SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.      1
..                                                 ...    ...
691                                  RIESTRA AV. y MOM      7
692         DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.      9
693                                GAONA AV. y TERRADA     11
694                                PERON, EVA AV. 4071      9
695                            PADRE CARLOS MUGICA 709      1

                                   XY (CABA)         pos x         pos y  \
0      Point (98896.78238426 93532.43437792)  -58.47533969  -34.68757022
1      Point (95832.05571093 95505.41641999)  -58.50877521  -34.66977709
2     Point (106684.29090040 99706.57687843)  -58.39040293  -34.63189362
3      Point (99840.65224780 94269.16534422)  -58.46503904  -34.68092974
4    Point (106980.32827929 100752.16915795)  -58.38718297  -34.62246630
..                                       ...           ...           ...
691   Point (102728.60090138 98186.24929177)  -58.43353773  -34.64561636
692    Point (99624.29795829 97569.69801131)  -58.46739825  -34.65117757
693   Point (99116.45492358 101045.23284826)  -58.47293407  -34.61984745
694    Point (99324.54463985 97676.26932409)  -58.47066794  -34.65021673
695  Point (107664.16647795 104708.63962087)  -58.37976155  -34.58679619

      PARTICIPANTES    VICTIMA    ACUSADO
0         MOTO-AUTO       MOTO       AUTO
1    AUTO-PASAJEROS       AUTO  PASAJEROS
2         MOTO-AUTO       MOTO       AUTO
3           MOTO-SD       MOTO         SD
4    MOTO-PASAJEROS       MOTO  PASAJEROS
..              ...        ...        ...
691       MOTO-AUTO       MOTO       AUTO
692       MOTO-AUTO       MOTO       AUTO
693     MOTO-CARGAS       MOTO     CARGAS
694     AUTO-CARGAS       AUTO     CARGAS
695  BICICLETA-AUTO  BICICLETA       AUTO

[696 rows x 21 columns]

In [45]:
df_homicidios.head(15)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,1/1/2016,2016,1,1,4:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,1/2/2016,2016,1,2,1:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,1/3/2016,2016,1,3,7:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,1/10/2016,2016,1,10,0:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,1/21/2016,2016,1,21,5:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS
5,2016-0008,1,1/24/2016,2016,1,24,18:30:00,18,AV 27 DE FEBRERO Y AV ESCALADA,AVENIDA,...,NaN,ESCALADA AV.,27 DE FEBRERO AV. y ESCALADA AV.,8,Point (101721.59002217 93844.25656649),-58.44451316,-34.68475866,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO
6,2016-0009,1,1/24/2016,2016,1,24,19:10:00,19,NOGOYA Y JOAQUIN V. GONZALES,CALLE,...,NaN,"GONZALEZ, JOAQUIN V.","NOGOYA y GONZALEZ, JOAQUIN V.",11,Point (96545.87592078 102330.67262199),-58.50095869,-34.60825440,MOTO-AUTO,MOTO,AUTO
7,2016-0010,1,1/29/2016,2016,1,29,15:20:00,15,AV GENERAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,MOTO-AUTO,MOTO,AUTO
8,2016-0012,1,2/8/2016,2016,2,8,1:20:00,1,AV BELGRANO Y BERNARDO DE IRIGOYEN,AVENIDA,...,NaN,"IRIGOYEN, BERNARDO DE","BELGRANO AV. e IRIGOYEN, BERNARDO DE",1,Point (107595.35084333 101797.50052813),-58.38048577,-34.61303893,MOTO-CARGAS,MOTO,CARGAS
9,2016-0013,1,2/10/2016,2016,2,10,11:30:00,11,AV ENTRE RIOS 1366,AVENIDA,...,1366.0,NaN,ENTRE RIOS AV. 1366,1,Point (106616.41069662 100496.44662323),-58.39114932,-34.62477387,PEATON-AUTO,PEATON,AUTO
10,2016-0015,1,2/14/2016,2016,2,14,5:14:00,5,AV SCALABRINI ORTIZ Y VERA,AVENIDA,...,NaN,VERA,"SCALABRINI ORTIZ, RAUL AV. y VERA",15,Point (102357.43746828 103343.52002839),-58.43760020,-34.59912758,PEATON-AUTO,PEATON,AUTO
11,2016-0016,1,2/14/2016,2016,2,14,22:00:00,22,AV REGIMIENTO DE PATRICIOS Y QUINQUELA MARTIN ...,AVENIDA,...,NaN,"QUINQUELA MARTIN, BENITO",REGIMIENTO DE PATRICIOS AV. y QUINQUELA MARTIN...,4,Point (108661.59115206 98481.75445555),-58.36882665,-34.64291993,MOTO-AUTO,MOTO,AUTO
12,2016-0017,1,2/15/2016,2016,2,15,16:54:00,16,MARIANO ACOSTA Y ANA MARIA JANER,AVENIDA,...,NaN,"JANER, ANA MARIA","ACOSTA, MARIANO y JANER, ANA MARIA",8,Point (101228.61094416 96623.72136186),-58.44989671,-34.65970435,PEATON-MOTO,PEATON,MOTO
13,2016-0019,1,2/17/2016,2016,2,17,9:30:00,9,LISANDRO DE LA TORRE Y SEVERO GARCIA GRANDE DE...,CALLE,...,NaN,"GARCIA GRANDE DE ZEQUEIRA, SEVERO","DE LA TORRE, LISANDRO y GARCIA GRANDE DE ZEQUE...",9,Point (95727.37083199 97179.35560349),-58.50990884,-34.65468721,PEATON-PASAJEROS,PEATON,PASAJEROS
14,2016-0020,1,2/17/2016,2016,2,17,16:00:00,16,SUIPACHA 156,CALLE,...,156.0,NaN,SUIPACHA 156,1,Point (107684.31807562 102519.17333314),-58.37952223,-34.60653282,PEATON-AUTO,PEATON,AUTO

### Proceso de toma de decisiones sobre las columnas a emplear.

Al visualizar los datos, identifico ciertas columnas cuyos datos resultan redundantes. Este es el caso de las columnas 'hora' (está incluida en HH), 'fecha'(está desglosada en 'AAAA', 'MM', 'DD' y 'HH'), y 'lugar del hecho', 'altura', 'cruce', 'XY', 'posx' y 'posy', ya que están incluidos en dirección normalizada.     CORREGIR

Se guarda el dataframe con las columnas actualizadas y se visualiza.

In [18]:
df_homicidios=df_homicidios[['ID','N_VICTIMAS','FECHA', 'AAAA', 'MM','DD','HH', 'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'COMUNA', 'PARTICIPANTES', 'VICTIMA', 'ACUSADO']]
print(df_homicidios)

            ID  N_VICTIMAS       FECHA  AAAA  MM  DD  HH  \
0    2016-0001           1    1/1/2016  2016   1   1   4
1    2016-0002           1    1/2/2016  2016   1   2   1
2    2016-0003           1    1/3/2016  2016   1   3   7
3    2016-0004           1   1/10/2016  2016   1  10   0
4    2016-0005           1   1/21/2016  2016   1  21   5
..         ...         ...         ...   ...  ..  ..  ..
691  2021-0093           1  12/13/2021  2021  12  13  17
692  2021-0094           1  12/20/2021  2021  12  20   1
693  2021-0095           1  12/30/2021  2021  12  30   0
694  2021-0096           1  12/15/2021  2021  12  15  10
695  2021-0097           1  11/18/2021  2021  11  18   6

                               LUGAR_DEL_HECHO TIPO_DE_CALLE  COMUNA  \
0    AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ       AVENIDA       8
1            AV GRAL PAZ  Y AV DE LOS CORRALES      GRAL PAZ       9
2                           AV ENTRE RIOS 2034       AVENIDA       1
3        AV LARRAZABAL Y GRAL VILLEGAS CONRADO       AVENIDA       8
4    AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA        AVENIDA       1
..                                         ...           ...     ...
691                          AV. RIESTRA Y MOM       AVENIDA       7
692                    AU DELLEPIANE Y LACARRA     AUTOPISTA       9
693                        AV. GAONA Y TERRADA       AVENIDA      11
694                         AV. EVA PERON 4071       AVENIDA       9
695                    PADRE CARLOS MUJICA 709         CALLE       1

      PARTICIPANTES    VICTIMA    ACUSADO
0         MOTO-AUTO       MOTO       AUTO
1    AUTO-PASAJEROS       AUTO  PASAJEROS
2         MOTO-AUTO       MOTO       AUTO
3           MOTO-SD       MOTO         SD
4    MOTO-PASAJEROS       MOTO  PASAJEROS
..              ...        ...        ...
691       MOTO-AUTO       MOTO       AUTO
692       MOTO-AUTO       MOTO       AUTO
693     MOTO-CARGAS       MOTO     CARGAS
694     AUTO-CARGAS       AUTO     CARGAS
695  BICICLETA-AUTO  BICICLETA       AUTO

[696 rows x 13 columns]

In [19]:
df_homicidios.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,COMUNA,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,1/1/2016,2016,1,1,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,8,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,1/2/2016,2016,1,2,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,9,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,1/3/2016,2016,1,3,7,AV ENTRE RIOS 2034,AVENIDA,1,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,1/10/2016,2016,1,10,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,8,MOTO-SD,MOTO,SD
4,2016-0005,1,1/21/2016,2016,1,21,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,1,MOTO-PASAJEROS,MOTO,PASAJEROS

## Distribución de los datos.

### Observo la distribución de los datos para entender mejor el dataframe y verificar su calidad.

Primero, observo la longitud del dataframe

In [20]:
len(df_homicidios)

696

Luego, veo la cantidad de valores nulos en el dataframe

In [21]:
df_homicidios.isna().sum()

ID                 0
N_VICTIMAS         0
FECHA              0
AAAA               0
MM                 0
DD                 0
HH                 0
LUGAR_DEL_HECHO    0
TIPO_DE_CALLE      0
COMUNA             0
PARTICIPANTES      0
VICTIMA            0
ACUSADO            0
dtype: int64

No existen valores nulos en el dataset.

Se verifica la información del dataset

In [22]:
df_homicidios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               696 non-null    object
 1   N_VICTIMAS       696 non-null    int64
 2   FECHA            696 non-null    object
 3   AAAA             696 non-null    int64
 4   MM               696 non-null    int64
 5   DD               696 non-null    int64
 6   HH               696 non-null    object
 7   LUGAR_DEL_HECHO  696 non-null    object
 8   TIPO_DE_CALLE    696 non-null    object
 9   COMUNA           696 non-null    int64
 10  PARTICIPANTES    696 non-null    object
 11  VICTIMA          696 non-null    object
 12  ACUSADO          696 non-null    object
dtypes: int64(5), object(8)
memory usage: 70.8+ KB

Se verifican los valores duplicados en el dataset.

In [23]:
df_homicidios.duplicated(subset='ID').sum()

np.int64(0)

No existen ID duplicados en el dataset.

Se identifican los tipos de datos y se hacen los casteos necesarios. Se modifican los datos de las columnas para permitir los casteos.
ID: Object a int.
Fecha: Object a datetime.
Hora: Object a datetime.

In [24]:
df_homicidios['ID'] = df_homicidios['ID'].str.replace('-', '')

In [27]:
df_homicidios['ID']=df_homicidios['ID'].astype(int)
df_homicidios['FECHA'] = pd.to_datetime(df_homicidios['FECHA'], errors='coerce')
df_homicidios['MM']=df_homicidios['MM'].astype(int)
df_homicidios['DD']=df_homicidios['DD'].astype(int)

In [28]:
df_homicidios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               696 non-null    int64
 1   N_VICTIMAS       696 non-null    int64
 2   FECHA            696 non-null    datetime64[ns]
 3   AAAA             696 non-null    int64
 4   MM               696 non-null    int64
 5   DD               696 non-null    int64
 6   HH               696 non-null    object
 7   LUGAR_DEL_HECHO  696 non-null    object
 8   TIPO_DE_CALLE    696 non-null    object
 9   COMUNA           696 non-null    int64
 10  PARTICIPANTES    696 non-null    object
 11  VICTIMA          696 non-null    object
 12  ACUSADO          696 non-null    object
dtypes: datetime64[ns](1), int64(6), object(6)
memory usage: 70.8+ KB

In [29]:
df_homicidios.to_csv('homicidioslimpio.csv')

## Ahora, se trabaja con el dataset 'victimas'

In [141]:
victimas='homicidios.xlsx - VICTIMAS.csv'
df_victimas=pd.read_csv(victimas, delimiter=',', encoding='UTF-8')
print(df_victimas)

      ID_hecho       FECHA  AAAA  MM  DD                   ROL VICTIMA  \
0    2016-0001    1/1/2016  2016   1   1             CONDUCTOR    MOTO
1    2016-0002    1/2/2016  2016   1   2             CONDUCTOR    AUTO
2    2016-0003    1/3/2016  2016   1   3             CONDUCTOR    MOTO
3    2016-0004   1/10/2016  2016   1  10             CONDUCTOR    MOTO
4    2016-0005   1/21/2016  2016   1  21             CONDUCTOR    MOTO
..         ...         ...   ...  ..  ..                   ...     ...
712  2021-0092  12/12/2021  2021  12  12                PEATON  PEATON
713  2021-0093  12/13/2021  2021  12  13  PASAJERO_ACOMPAÑANTE    MOTO
714  2021-0094  12/20/2021  2021  12  20  PASAJERO_ACOMPAÑANTE    MOTO
715  2021-0095  12/30/2021  2021  12  30             CONDUCTOR    MOTO
716  2021-0096  12/15/2021  2021  12  15             CONDUCTOR    AUTO

          SEXO EDAD FECHA_FALLECIMIENTO
0    MASCULINO   19            1/1/2016
1    MASCULINO   70            1/2/2016
2    MASCULINO   30            1/3/2016
3    MASCULINO   18                  SD
4    MASCULINO   29            2/1/2016
..         ...  ...                 ...
712   FEMENINO   50          12/12/2021
713   FEMENINO   18          12/18/2021
714   FEMENINO   43          12/20/2021
715  MASCULINO   27            1/2/2022
716  MASCULINO   60          12/20/2021

[717 rows x 10 columns]

In [142]:
df_victimas.head()

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,1/1/2016,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,1/1/2016
1,2016-0002,1/2/2016,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,1/2/2016
2,2016-0003,1/3/2016,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,1/3/2016
3,2016-0004,1/10/2016,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,1/21/2016,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2/1/2016

Es posible identificar que el ID hecho coincide con el ID del dataset anterior.

### Proceso de toma de decisiones sobre las columnas a emplear.

Al visualizar los datos, identifico gran similitud con el dataset anterior, por lo que decido dejar sólo las columnas complementarias al primer dataset, es decir, se conservan las columnas 'rol', 'sexo', 'edad' y 'fecha fallecimiento'.

In [143]:
df_victimas=df_victimas[['ID_hecho','FECHA', 'ROL','SEXO', 'EDAD', 'FECHA_FALLECIMIENTO']]
df_victimas.head()

    ID_hecho      FECHA        ROL       SEXO EDAD FECHA_FALLECIMIENTO
0  2016-0001   1/1/2016  CONDUCTOR  MASCULINO   19            1/1/2016
1  2016-0002   1/2/2016  CONDUCTOR  MASCULINO   70            1/2/2016
2  2016-0003   1/3/2016  CONDUCTOR  MASCULINO   30            1/3/2016
3  2016-0004  1/10/2016  CONDUCTOR  MASCULINO   18                  SD
4  2016-0005  1/21/2016  CONDUCTOR  MASCULINO   29            2/1/2016

### Distribución de los datos.

Primero, observo la longitud del dataframe

In [144]:
len(df_victimas)

717

Luego, veo la cantidad de valores nulos en el dataframe

In [145]:
df_victimas.isna().sum()

ID_hecho               0
FECHA                  0
ROL                    0
SEXO                   0
EDAD                   0
FECHA_FALLECIMIENTO    0
dtype: int64

No existen valores nulos en el dataset.

Se verifica la información del dataset

In [146]:
df_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    object
 2   ROL                  717 non-null    object
 3   SEXO                 717 non-null    object
 4   EDAD                 717 non-null    object
 5   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: object(6)
memory usage: 33.7+ KB

Se verifican los valores duplicados en el dataset.

In [147]:
df_victimas.duplicated(subset='ID_hecho').sum()

np.int64(21)

Existen 21 'ID_hecho' duplicados. Esto obedece a los accidentes que tuvieron más de una víctima mortal.

Se identifican los tipos de datos y se hacen los casteos necesarios: ID: Object a int. Fecha: Object a datetime. Fecha_fallecimiento: Object a datetime.

In [171]:
df_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    int64
 1   FECHA                717 non-null    datetime64[ns]
 2   ROL_VICTIMA          717 non-null    object
 3   SEXO_VICTIMA         717 non-null    object
 4   EDAD_VICTIMA         717 non-null    object
 5   FECHA_FALLECIMIENTO  648 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 33.7+ KB

In [149]:
df_victimas['ID_hecho'] = df_victimas['ID_hecho'].str.replace('-', '')

In [150]:
df_victimas['ID_hecho'] = df_victimas['ID_hecho'].astype(int)

In [170]:
df_victimas['FECHA'] = pd.to_datetime(df_victimas['FECHA'], errors='coerce')
df_victimas['FECHA_FALLECIMIENTO'] = pd.to_datetime(df_victimas['FECHA_FALLECIMIENTO'], errors='coerce')

Se modifican los nombres de las columnas para asegurar inteligibilidad.

In [167]:
df_victimas=df_victimas.rename(columns={'SEXO': 'SEXO_VICTIMA','EDAD':'EDAD_VICTIMA', 'ROL':'ROL_VICTIMA'})

In [168]:
df_victimas.head()

,ID_hecho,FECHA,ROL_VICTIMA,SEXO_VICTIMA,EDAD_VICTIMA,FECHA_FALLECIMIENTO
0,20160001,2016-01-01,CONDUCTOR,MASCULINO,19,1/1/2016
1,20160002,2016-01-02,CONDUCTOR,MASCULINO,70,1/2/2016
2,20160003,2016-01-03,CONDUCTOR,MASCULINO,30,1/3/2016
3,20160004,2016-01-10,CONDUCTOR,MASCULINO,18,SD
4,20160005,2016-01-21,CONDUCTOR,MASCULINO,29,2/1/2016

In [173]:
df_victimas.to_csv('victimaslimpio.csv')

## Genero un dataset de lugares de ocurrencia de los accidentes

In [29]:
df_lugares=pd.read_csv(homicidios, delimiter=',', encoding='UTF-8')
df_lugares.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,1/1/2016,2016,1,1,4:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,1/2/2016,2016,1,2,1:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,1/3/2016,2016,1,3,7:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,1/10/2016,2016,1,10,0:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,1/21/2016,2016,1,21,5:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

In [ ]:
df_lugares=df_lugares[['Dirección Normalizada', 'pos x', 'pos y']]
df_lugares.head()

In [36]:
df_lugares = df_lugares.rename(columns={
    'Dirección Normalizada': 'Direccion',
    'pos x': 'Longitud',
    'pos y': 'Latitud'})

In [38]:
df_lugares.head()

,Direccion,Latitud,Longitud
0,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",-58.47533969,-34.68757022
1,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",-58.50877521,-34.66977709
2,ENTRE RIOS AV. 2034,-58.39040293,-34.63189362
3,"LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",-58.46503904,-34.68092974
4,"SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",-58.38718297,-34.62246630

In [31]:
df_lugares = df_lugares[['Dirección Normalizada', 'pos x', 'pos y']]
df_lugares = df_lugares.rename(columns={
    'Dirección Normalizada': 'Direccion',
    'pos x': 'Latitud',
    'pos y': 'Longitud'
})
print(df_lugares)

                                             Direccion       Latitud  \
0    PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...  -58.47533969
1                 PAZ, GRAL. AV. y DE LOS CORRALES AV.  -58.50877521
2                                  ENTRE RIOS AV. 2034  -58.39040293
3            LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.  -58.46503904
4              SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.  -58.38718297
..                                                 ...           ...
691                                  RIESTRA AV. y MOM  -58.43353773
692         DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.  -58.46739825
693                                GAONA AV. y TERRADA  -58.47293407
694                                PERON, EVA AV. 4071  -58.47066794
695                            PADRE CARLOS MUGICA 709  -58.37976155

         Longitud
0    -34.68757022
1    -34.66977709
2    -34.63189362
3    -34.68092974
4    -34.62246630
..            ...
691  -34.64561636
692  -34.65117757
693  -34.61984745
694  -34.65021673
695  -34.58679619

[696 rows x 3 columns]

In [40]:
df_lugares.head()

,Dirección,Longitud,Latitud
0,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",-58.47533969,-34.68757022
1,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",-58.50877521,-34.66977709
2,ENTRE RIOS AV. 2034,-58.39040293,-34.63189362
3,"LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",-58.46503904,-34.68092974
4,"SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",-58.38718297,-34.62246630

In [39]:
df_lugares = df_lugares.rename(columns={
    'Direccion': 'Dirección',
    'Latitud': 'Longitud',
    'Longitud': 'Latitud'
})
print(df_lugares)

                                             Dirección      Longitud  \
0    PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...  -58.47533969
1                 PAZ, GRAL. AV. y DE LOS CORRALES AV.  -58.50877521
2                                  ENTRE RIOS AV. 2034  -58.39040293
3            LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.  -58.46503904
4              SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.  -58.38718297
..                                                 ...           ...
691                                  RIESTRA AV. y MOM  -58.43353773
692         DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.  -58.46739825
693                                GAONA AV. y TERRADA  -58.47293407
694                                PERON, EVA AV. 4071  -58.47066794
695                            PADRE CARLOS MUGICA 709  -58.37976155

          Latitud
0    -34.68757022
1    -34.66977709
2    -34.63189362
3    -34.68092974
4    -34.62246630
..            ...
691  -34.64561636
692  -34.65117757
693  -34.61984745
694  -34.65021673
695  -34.58679619

[688 rows x 3 columns]

In [41]:
df_lugares.dropna(inplace=True)

In [42]:
df_lugares.info()

<class 'pandas.core.frame.DataFrame'>
Index: 688 entries, 0 to 695
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Dirección  688 non-null    object
 1   Longitud   688 non-null    object
 2   Latitud    688 non-null    object
dtypes: object(3)
memory usage: 21.5+ KB

In [43]:
df_lugares.to_csv('lugares.csv')

Identifico el lugar de mayor accidentalidad y los 20 lugares con más ocurrencia de accidentes.

In [17]:
moda = df_lugares['Direccion'].mode()[0]
print(moda)

27 DE FEBRERO AV. y ESCALADA AV.

In [45]:
top_20= df_lugares['Dirección'].value_counts()
print(top_20)

Dirección
27 DE FEBRERO AV. y ESCALADA AV.                  5
PAZ, GRAL. AV. y BALBIN, RICARDO, DR. AV.         4
PAZ, GRAL. AV. y DEL LIBERTADOR AV.               4
INDEPENDENCIA AV. y CEVALLOS, VIRREY              3
ALCORTA, AMANCIO AV. y BONAVENA, OSCAR NATALIO    3
                                                 ..
AUTOPISTA PERITO MORENO y AUTOPISTA 25 DE MAYO    1
CHORROARIN y SAN MARTIN AV.                       1
COSQUIN y ROCA, CNEL. AV.                         1
ROCA, CNEL. AV. 3555                              1
PADRE CARLOS MUGICA 709                           1
Name: count, Length: 635, dtype: int64

In [46]:
top_20.head()

Dirección
27 DE FEBRERO AV. y ESCALADA AV.                  5
PAZ, GRAL. AV. y BALBIN, RICARDO, DR. AV.         4
PAZ, GRAL. AV. y DEL LIBERTADOR AV.               4
INDEPENDENCIA AV. y CEVALLOS, VIRREY              3
ALCORTA, AMANCIO AV. y BONAVENA, OSCAR NATALIO    3
Name: count, dtype: int64

In [47]:
df_lugares = df_lugares.merge(top_20, on='Dirección', how='left')

In [48]:
df_lugares.head()

,Dirección,Longitud,Latitud,count
0,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",-58.47533969,-34.68757022,1
1,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",-58.50877521,-34.66977709,3
2,ENTRE RIOS AV. 2034,-58.39040293,-34.63189362,1
3,"LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",-58.46503904,-34.68092974,1
4,"SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",-58.38718297,-34.62246630,1

In [50]:
df_lugares = df_lugares.rename(columns={
    'count': 'Cantidad de accidentes'
})
print(df_lugares)

                                             Dirección      Longitud  \
0    PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...  -58.47533969
1                 PAZ, GRAL. AV. y DE LOS CORRALES AV.  -58.50877521
2                                  ENTRE RIOS AV. 2034  -58.39040293
3            LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.  -58.46503904
4              SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.  -58.38718297
..                                                 ...           ...
683                                  RIESTRA AV. y MOM  -58.43353773
684         DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.  -58.46739825
685                                GAONA AV. y TERRADA  -58.47293407
686                                PERON, EVA AV. 4071  -58.47066794
687                            PADRE CARLOS MUGICA 709  -58.37976155

          Latitud  Cantidad de accidentes
0    -34.68757022                       1
1    -34.66977709                       3
2    -34.63189362                       1
3    -34.68092974                       1
4    -34.62246630                       1
..            ...                     ...
683  -34.64561636                       1
684  -34.65117757                       1
685  -34.61984745                       1
686  -34.65021673                       1
687  -34.58679619                       1

[688 rows x 4 columns]

In [46]:
df_lugares.to_csv('lugares.csv')

NameError: name 'df_lugares' is not defined

In [47]:
homicidios=pd.read_csv('homicidioslimpio.csv')

In [48]:
homicidios.head()

,Unnamed: 0,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,COMUNA,PARTICIPANTES,VICTIMA,ACUSADO
0,0,20160001,1,2016-01-01,2016,1,1,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,8,MOTO-AUTO,MOTO,AUTO
1,1,20160002,1,2016-01-02,2016,1,2,1,AV GRAL PAZ Y AV DE LOS CORRALES,AVENIDA,9,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2,20160003,1,2016-01-03,2016,1,3,7,AV ENTRE RIOS 2034,AVENIDA,1,MOTO-AUTO,MOTO,AUTO
3,3,20160004,1,2016-01-10,2016,1,10,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,8,MOTO-SD,MOTO,SD
4,4,20160005,1,2016-01-21,2016,1,21,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,1,MOTO-PASAJEROS,MOTO,PASAJEROS

In [49]:
homicidios.drop('Unnamed: 0', axis=1, inplace=True)

In [9]:
homicidios.to_csv('homicidioslimpio.csv')

In [50]:
homicidios.head(1)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,COMUNA,PARTICIPANTES,VICTIMA,ACUSADO
0,20160001,1,2016-01-01,2016,1,1,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,8,MOTO-AUTO,MOTO,AUTO

In [51]:
homicidios.columns

Index(['ID', 'N_VICTIMAS', 'FECHA', 'AAAA', 'MM', 'DD', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'COMUNA', 'PARTICIPANTES',
       'VICTIMA', 'ACUSADO'],
      dtype='object')

In [10]:
lugares=pd.read_csv('lugares.csv')

In [16]:
lugares.drop(columns=['Unnamed: 0'], inplace=True)

In [17]:
lugares.head(1)

,Dirección,Longitud,Latitud,Cantidad de accidentes
0,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",-58.47533969,-34.68757022,1

In [24]:
lugares.columns

Index(['Dirección', 'Longitud', 'Latitud', 'Cantidad de accidentes'], dtype='object')

In [11]:
victimas=pd.read_csv('victimaslimpio.csv')

In [27]:
victimas.drop(columns=['Unnamed: 0'], inplace=True)

In [28]:
victimas.head(1)

,ID_hecho,FECHA,ROL_VICTIMA,SEXO_VICTIMA,EDAD_VICTIMA,FECHA_FALLECIMIENTO
0,20160001,2016-01-01,CONDUCTOR,MASCULINO,19,2016-01-01

In [29]:
victimas.columns

Index(['ID_hecho', 'FECHA', 'ROL_VICTIMA', 'SEXO_VICTIMA', 'EDAD_VICTIMA',
       'FECHA_FALLECIMIENTO'],
      dtype='object')

In [52]:
import pandas as pd

# Assuming df_homicidios and df_victimas are already defined

# Check column names
print(homicidios.columns)
print(victimas.columns)

# Rename columns for clarity in merge (if necessary)
victimas.rename(columns={'ID_hecho': 'ID'}, inplace=True)

# Merge the datasets on 'ID'
df_merged = pd.merge(homicidios, victimas, on='ID', how='left')

print(df_merged.head())

Index(['ID', 'N_VICTIMAS', 'FECHA', 'AAAA', 'MM', 'DD', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'COMUNA', 'PARTICIPANTES',
       'VICTIMA', 'ACUSADO'],
      dtype='object')
Index(['ID', 'FECHA', 'ROL_VICTIMA', 'SEXO_VICTIMA', 'EDAD_VICTIMA',
       'FECHA_FALLECIMIENTO'],
      dtype='object')
         ID  N_VICTIMAS     FECHA_x  AAAA  MM  DD HH  \
0  20160001           1  2016-01-01  2016   1   1  4
1  20160002           1  2016-01-02  2016   1   2  1
2  20160003           1  2016-01-03  2016   1   3  7
3  20160004           1  2016-01-10  2016   1  10  0
4  20160005           1  2016-01-21  2016   1  21  5

                             LUGAR_DEL_HECHO TIPO_DE_CALLE  COMUNA  \
0  AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ       AVENIDA       8
1          AV GRAL PAZ  Y AV DE LOS CORRALES       AVENIDA       9
2                         AV ENTRE RIOS 2034       AVENIDA       1
3      AV LARRAZABAL Y GRAL VILLEGAS CONRADO       AVENIDA       8
4  AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA        AVENIDA       1

    PARTICIPANTES VICTIMA    ACUSADO     FECHA_y ROL_VICTIMA SEXO_VICTIMA  \
0       MOTO-AUTO    MOTO       AUTO  2016-01-01   CONDUCTOR    MASCULINO
1  AUTO-PASAJEROS    AUTO  PASAJEROS  2016-01-02   CONDUCTOR    MASCULINO
2       MOTO-AUTO    MOTO       AUTO  2016-01-03   CONDUCTOR    MASCULINO
3         MOTO-SD    MOTO         SD  2016-01-10   CONDUCTOR    MASCULINO
4  MOTO-PASAJEROS    MOTO  PASAJEROS  2016-01-21   CONDUCTOR    MASCULINO

  EDAD_VICTIMA FECHA_FALLECIMIENTO
0           19          2016-01-01
1           70          2016-01-02
2           30          2016-01-03
3           18                 NaN
4           29          2016-02-01

In [57]:
df_merged.head()

,ID,N_VICTIMAS,FECHA_x,AAAA,MM,DD,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,COMUNA,PARTICIPANTES,VICTIMA,ACUSADO,ROL_VICTIMA,SEXO_VICTIMA,EDAD_VICTIMA,FECHA_FALLECIMIENTO,Dia_de_la_semana
0,20160001,1,2016-01-01,2016,1,1,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,8,MOTO-AUTO,MOTO,AUTO,CONDUCTOR,MASCULINO,19,2016-01-01,Friday
1,20160002,1,2016-01-02,2016,1,2,1,AV GRAL PAZ Y AV DE LOS CORRALES,AVENIDA,9,AUTO-PASAJEROS,AUTO,PASAJEROS,CONDUCTOR,MASCULINO,70,2016-01-02,Saturday
2,20160003,1,2016-01-03,2016,1,3,7,AV ENTRE RIOS 2034,AVENIDA,1,MOTO-AUTO,MOTO,AUTO,CONDUCTOR,MASCULINO,30,2016-01-03,Sunday
3,20160004,1,2016-01-10,2016,1,10,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,8,MOTO-SD,MOTO,SD,CONDUCTOR,MASCULINO,18,NaN,Sunday
4,20160005,1,2016-01-21,2016,1,21,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,1,MOTO-PASAJEROS,MOTO,PASAJEROS,CONDUCTOR,MASCULINO,29,2016-02-01,Thursday

In [56]:
df_merged.drop(columns=['FECHA_y'], inplace=True)

In [54]:
import pandas as pd

# Assuming df_merged is already defined

# Convert 'FECHA_x' to datetime
df_merged['FECHA_x'] = pd.to_datetime(df_merged['FECHA_x'], errors='coerce')

# Extract the day of the week
df_merged['Dia_de_la_semana'] = df_merged['FECHA_x'].dt.day_name()

print(df_merged[['FECHA_x', 'Dia_de_la_semana']])

       FECHA_x Dia_de_la_semana
0   2016-01-01           Friday
1   2016-01-02         Saturday
2   2016-01-03           Sunday
3   2016-01-10           Sunday
4   2016-01-21         Thursday
..         ...              ...
712 2021-12-13           Monday
713 2021-12-20           Monday
714 2021-12-30         Thursday
715 2021-12-15        Wednesday
716 2021-11-18         Thursday

[717 rows x 2 columns]

In [58]:
df_merged.to_csv('basededatos.csv')